
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.program-container {
    width: 1234px; 
    flex-shrink: 0;
    margin:  auto; /* Centers the container */
    padding: 20px;
    margin-top: 30px;
  }
  
  .program-header {
    font-size: 32px;
    text-align: center;
    margin-bottom: 71px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    letter-spacing: 1.6px;
  }

  .program-container .program-pendukung {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap: 55px;
    margin-bottom: 80px;
  }

  .program-container .program-isi {
    height: 100%;
    width: 360px;
    border-radius: 28px;
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 700ms;
  }

  .program-container .program-isi:hover {
    height: 250px;
    width: 460px;
    border-radius: 28px;
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .program-container .program-isi-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87px;
    width: 300px;
  }

  .program-container .text-box {
    margin-left: 20px;
  }

  .program-container .title {
    font-weight: 600;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
  }

  .program-container .desc {
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }
  
  /* REVISIUUUU */

  .visi-container {
    width: 100%;
    background-color: #f7da24;
    display: flex;
    justify-content: center;
}

.visi-container .visi-box {
    width: 85%;
    padding: 50px;
}

.visi-container .title {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 3%;
}

.visi-container p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
    .visi-container .title {
        font-size: 20px;
    }
    .visi-container p {
        font-size: 8px;
    }
    .visi-container .visi-box {
      padding: 30px;
      width: 70%;
    }
}

  /* REVISIUUUU */

   /* REVISIUU */

  .sambutan-container {
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    padding: 20px;
    display: flex;
    padding: 50px;
  }

  .sambutan-text {
   width: 70%;
   height: 100%;
  }

  .sambutan-text h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
  }

  .sambutan-text p {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }

  .sambutan-container img {
    width: 30%;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 50px;
    object-position: center;
    object-fit: cover;
  }

  @media screen and (max-width: 640px) {
    .sambutan-container {
      height: 300px;
    }
    .sambutan-container .sambutan-text h1 {
      font-size: 20px;
    }

    .sambutan-container .sambutan-text p {
      font-size: 8px;
    }
    .sambutan-container img {
      border-radius: 25px;
      height: 90%;
    }
  }

  /* REVISIUU */

  /* REVISIUU */

  .banner-container {
    background: linear-gradient(0deg, rgba(166, 166, 166, 0.745) 100%, #000000 20%), url('/image/banner.jpeg'), #000000 20% / cover no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    transition: 500ms;
  }

  .banner-container:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(23, 23, 23, 0.5) 100%), url('/image/banner.jpeg'), #000000 20% / cover no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    transition: 500ms;
  }

  .banner-warna h1 {
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  @media screen and (max-width: 640px) {
    .banner-container .banner-warna h1 {
      font-size: 26px;
    }
    .banner-container {
      padding: 50px;
    }
  }

  /* REVISIUU */

  .footer-container {
    background-color: #4b4b4b;
    width: 100%;
    padding: 2%;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.footer-container .contact {
    text-align: end;
    font-size: 18px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding-right: 15%;
}

.footer-container .footer-box {
    display: flex;
    width: 100%;
    padding-top: 2%;
}

.footer-container .footer-kiri {
    width: 40%;
    padding-left: 2%;
}

.footer-container .footer-tengah {
    width: 20%;
}

.footer-container .footer-kanan {
    width: 40%;
}

.footer-container .icon-kiri {
    display: flex;
    align-items: center;
    padding-bottom: 4%;
}
.footer-container .icon-kanan {
    display: flex;
    align-items: center;
    padding-bottom: 4%;
    width: 100%;
}

.footer-container img {
    padding-right: 2.5%;
}

.footer-container .icon-sec-kanan {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .footer-container {
        font-size: 8px;
    }

    .footer-container .contact {
      font-size: 12px;
    }

    .footer-container .icon-utama-kanan img {
      width: 7%;
    }

    .footer-container img {
        width: 10%;
    }
}

  /* BATAS REVISI */

  .header-container {
    width: 100%;
    background-color: #f7da24;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container .header-isi {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.header-container .icon {
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 0.5px solid;
    border-radius: 50%;
    background-color: white;
}

.header-container .icon .gambar {
    width: 70%;
}

.header-container .text {
    width: 80%;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
}

.header-container .atas {
    font-weight: 600;
    font-size: 44px;
}

.header-container .bawah {
    font-weight: 600;
    font-size: 24px
}

@media screen and (max-width: 640px) {
    .header-container .header-isi {
        width: 90%;
    }
    .header-container .atas {
        font-size: 30px;
    }
    .header-container .bawah {
        font-size: 18px;
    }
    .header-container .icon {
        width: 60px;
        height: 60px;
    }
}

  /* REVISIUUUU */

  .navbar-container {
    background-color: #F6C03C;
    flex-shrink: 0;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }


  .navbar-container .activenav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F6C03C;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 999999;
    transition: 500ms ease;
  }

  .navbar-container .navbar-list {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .navbar-container .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
    gap: 10%;
  }

  .navbar-container .line-link {
    height: 2.5px;
    margin-left: -20px;
    background-color: #F7DA24;
  }

  .navbar-container .link {
    color: #FFF;
    text-decoration: none;
    text-align: center;
  }

  .navbar-container .link:hover {
    color: #e1e1e1;
    cursor: pointer;
  }
  .navbar-container .sub-link {
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }

  .navbar-container .sub-link:hover {
    color: #e1e1e1;
    cursor: pointer;
  }

  .navbar-container .navbar-menu {
    
  }

  .navbar-container .navbar-dropdown {
    position: absolute;
    background-color: #F6C03C;
    border-width: 4px 0px 0px 0px; /* Atas 0px, Kanan 4px, Bawah 6px, Kiri 8px */
    border-style: dashed none none none; /* Gaya border untuk setiap sisi */
    border-top-color: #F7DA24;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    border-style: solid;
    width: 115px;
  }
  .navbar-container .navbar-dropdown.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(5px);
    transition: 500ms ease;
    z-index: 9999;
  }
  .navbar-container .navbar-dropdown.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
    z-index: 9999;
  }
  .navbar-container .navbar-dropdown::before {
    
  }
  .navbar-container .navbar-dropdown .list {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    list-style-type: none;
    padding: 0;
  }

  .navbar-container .navbar-dropdown .list li {
    text-align: center;
  }

  @media screen and (max-width: 640px) {
    .navbar-container .navbar-list {
      font-size: 12px;
    }
    .navbar-container .menu {
      gap: 5%;
    }
    .navbar-container .navbar-dropdown {
      width: 75px;
    }
    .navbar-container .sub-link {
      font-size: 10px;
    }
    .navbar-container {
      padding: 5px;
    }
    .navbar-container .activenav {
      padding: 1px;
    }
  }

  /* REVISIU */

  /* REVISIU */

  .carousel-container {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(139, 139, 139, 0.5) 100%), url("/image/smpit_taros.jpg"), lightgray 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  .carousel-container:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(23, 23, 23, 0.5) 100%), url("/image/smpit_taros.jpg"), lightgray 50%;
    color: #e1e1e1;
    background-position: center;
    background-size: cover;
    transition: 500ms ease-out;
  }

  .carousel-container .text-wrapper {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .carousel-container .text {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .carousel-container .carousel-isi {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-container .carousel-isi .carousel-box {
    width: 70%;
    height: 80%;
    margin-bottom: 2%;
    text-align: center;
  }

  .carousel-container .carousel-isi .carousel-box img {
    border: 1px solid;
    border-color: #000000;
    border-radius: 35px;
    height: 70px;
    left: 0;
    top: 0;
    width: 70px;
    margin-top: 10%;
  }

  .carousel-container .carousel-isi .carousel-box .text-quotes {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3%;
    margin-bottom: 5%;
  }

  .carousel-container .carousel-isi .carousel-box .text-author {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  @media screen and (max-width: 640px) {
    .carousel-container .text {
      font-size: 20px;
    }
    .carousel-container .carousel-isi .carousel-box .text-quotes {
      font-size: 10px;
    }
    .carousel-container .carousel-isi .carousel-box .text-author {
      font-size: 8px;
    }
    .carousel-container .carousel-isi .carousel-box img {
      height: 40px;
      width: 40px;
    }
    .carousel-container .text-wrapper {
      height: 50px;
    }
  }

  /* <---> ini dibawah style library swiper.js "carousel-container" <---> */ 

  .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }

    .swiper-pagination-bullet-active {
      background: green !important;
      
    }
    .swiper-pagination-bullet {
      /* margin-bottom: 20px !important; */
    }

  @media screen and (min-width: 640px) {
    .swiper-button-next,
    .swiper-button-prev {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  
    .swiper-button-next::after,
    .swiper-button-prev::after {
      display: none;
    }
  
    .swiper-button-next {
      background-image: url(../image/btn-next.svg);
      width: 50px;
      margin-right: 20px;
    }
  
    .swiper-button-prev {
      background-image: url(../image/btn-prev.svg);
      width: 50px;
      margin-left: 20px;
      
    }
  
    .swiper-pagination-bullet-active {
      background: green !important;
      
    }
    .swiper-pagination-bullet {
      /* margin-bottom: 20px !important; */
      padding: 5px;
    }
  }

    /* <---> ini diatas style library swiper.js "carousel-container" <---> */

  /* REVISIU */

  .beritaa {
    display: flex;
  }

  .berita-atap {
    height: 152px;
    background: linear-gradient(0deg, rgba(166, 166, 166, 0.745) 100%, #000000 20%), url('/image/banner.jpeg'), #000000 20% / cover no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    transition: 500ms;
  }
  
  .berita-atap:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(23, 23, 23, 0.5) 100%), url('/image/banner.jpeg'), #000000 20% / cover no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    transition: 500ms;
  }

  .berita-atap .text-atap {
    margin-left: 78px;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1.76px;
  }

  .berita-container {
    width: 1100px;
    flex-shrink: 0;
    margin-top: 71px;
    margin-left: 30px;
    
  }

  .berita-container .berita-isi {
    margin-left: -2.5%;
    list-style-type: none;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    column-gap: 10px;
    height: 2901px;
    height: auto;
  }

  .berita-container .berita-list {
    width: 516px;
  }
 
  .berita-container .gambar {
    width: 516px;
    height: 356px;
    flex-shrink: 0;
    background-color: #D9D9D9;
    border-radius: 20px;
  }

  .berita-container .date {
    display: flex;
    align-items: center;
  }

  .berita-container .date-text {
    height: 24px;
    margin-left: 10px;
  }

  .berita-container .title {
    font-family: "Roboto", sans-serif;
    margin-top: 56px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .berita-container .date {
    font-family: "Poppins", sans-serif;
    margin-top: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .berita-container .deskripsi {
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }

  .berita-container .link {
    color: #4BB67C;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .berita-container .page-link {
    color: #4BB67C;
  }

  .berita-container .page-link:focus {
    box-shadow: #4BB67C;
  }

  .berita-sidebar {
    height: auto;
    width: 337px;
    margin-left: 30px;
  }

  .beritaa .search {
    width: 200px;
    height: 35px;
    border: none;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-left: 10px;
    margin-left: 5px;
  }

  .beritaa .search:focus {
    outline: none;
  }

  .beritaa .search-box {
    height: 40px;
    width: 240px;
    border-radius: 8px;
    border: 2px solid rgba(159, 155, 155, 0.8);
    display: flex;
    margin-bottom: 4%;
    margin-left: 30px;
    margin-top: 75px;
  }

  .beritaa .search-box .btn-image {
    border: none;
    background-color: #FFF;
    margin-top: -0.5px;
    margin-left: -3.5px;
  }

  .beritaa .search-box .btn-image .image {
    color: rgba(159, 155, 155, 0.8);
  }

  .berita-sidebar .text {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
  }

  .berita-sidebar .terbaru {
    list-style-type: none;
  }

  .berita-sidebar .terbaru .text {
    margin: 10px 0px ;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.9px;
    margin-left: -5px;
  }

  .berita-sidebar .terbaru .text .specs {
    color: #4BB67C;
  }

  .berita-sidebar .text-line {
    height: 1px;
    background-color: #b3b3b3;
    margin-left: -37px;
  }

  .detail-berita-container-batas {
    height: 60px;
    background-color: #D9D9D9;
  }

  .detail-berita-container {
    height: auto;
    width: 1400px;
    margin-left: 5%;
  }

  .detail-berita-container .detail-berita-isi {
    display: flex;
    margin-top: 5%;
  }

  .detail-berita-container .row-kiri {
    width: 70%;
  }

  .detail-berita-container .row-kanan {
    width: 20%;
    margin-left: 2.5%;
  }

  .detail-berita-container .judul {
    font-weight: 500;
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }

  .detail-berita-container .tanggal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .detail-berita-container .text-tanggal {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Poppins", sans-serif;
    display: flex;
    color: #b3b3b3;
  }
  .detail-berita-container .text-kategori {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Poppins", sans-serif;
    color: #4BB67C;
  }

  .detail-berita-container .detail-gambar {
    margin-top: 20px;
    width: 100%;
    height: 500px;
  }

  .daftar-berita {
    display: flex;
    width: 100%;
    list-style-type: none;
    padding-right: 5%;
    gap: 35px;
    height: 300px;
    margin-top: 50px;
  }

  .daftar-berita .daftar-berita-isi {
    width: 100%;
    height: 100%;
  }
  .daftar-berita .daftar-berita-isi .image {
    width: 100%;
    height: 60%;
  }
  .daftar-berita .daftar-berita-isi .title {
    width: 100%;
    height: 39%;
    margin-top: 1%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  .detail-berita-container .text-berita {
    margin-top: 6%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }

  .bannerbtn-container {
    height: 822px;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    background: linear-gradient(0deg, rgba(166, 166, 166, 0.745) 100%, #000000 20%), url('/image/banner.jpeg'), #000000 20% / cover no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .bannerbtn-container .box {
    width: 808px;
    height: 381px;
    margin-left: 46px;
  }

  .bannerbtn-container .title {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 600;
  }

  .bannerbtn-container .text {
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
  }

  .bannerbtn-container .text .link {
    color: #4BB67C;
    font-weight: 600;
  }

  .bannerbtn-container .button-form {
    width: 434px;
    height: 93px;
    border: none;
    border-radius: 40px;
    color: #FFFBFB;
    background-color: #1A2226;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-top: 94px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .bannerbtn-container .button-form:hover {
    background-color: #575656;
  }

  .ppdb-button-container {
    height: 85px;
    margin-top: 40px;
  }

  .ppdb-button-container .box {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .ppdb-button-container .button1:hover {
    color: #FFF;
  }
  .ppdb-button-container .button2:hover {
    color: #FFF;
  }
  .ppdb-button-container .button3:hover {
    color: #FFF;
  }

  .ppdb-button-container .button1 {
    height: 85px;
    width: 398px;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 400;
    background-color: #F6C03C;
    color: #1A2226;
    border: none;
    transition: 600ms;
  }
  .ppdb-button-container .button2 {
    height: 85px;
    width: 398px;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 400;
    background-color: #a0a0a0;
    color: #1A2226;
    border: none;
    transition: 600ms;
  }
  .ppdb-button-container .button3 {
    height: 85px;
    width: 398px;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    font-weight: 400;
    background-color: #4BB67C;
    color: #1A2226;
    border: none;
    transition: 600ms;
  }

  .ppdbpage-informasi {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 80px;
  }

  .ppdbpage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .ppdbpage-isi {
    width: 1347px;
    height: 1979px;
    background-color: rgba(232, 232, 232, 0.4300000071525574);
  }

  .ppdbpage-container .box {
    height: 72px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: #4BB67C;
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
    margin: 50px 0px 0px 50px;
  }

  .ppdbpage-container .text {
    font-size: 32px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin: 50px 0px 0px 70px;
  }

  .ppdb-button-next {
    width: 151px;
    height: 65px;
    background-color: #F6C03C;
    font-size: 33px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 5px;
    margin: 30px 0px 30px 1280px;
  }

  .check-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }

  .check-box-container .content {
    width: 772px;
    height: 500px;
    text-align: center;
  }

  .check-box-container .content .title {
    font-size: 36px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    margin: 30px 0px 20px 0px;
  }

  .check-box-container .content .orange-line {
    width: 100%;
    height: 6px;
    background-color: #F6C03C;
    border-radius: 5px;
  }

  .check-box-container .content .box {
    width: 100%;
    height: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .check-box-container .content .input-box {
    width: 80%;
    height: 80%;
  }

  .check-box-container .content .span-text {
    margin-bottom: 10px;
    width: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
  }

  .check-box-container .content .text-box {
    width: 100%;
    height: 57px;
    border-radius: 8px;
    border: 1px solid rgba(159, 155, 155, 0.8);
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-left: 10px;
  }

  .check-box-container .content .date-box {
    width: 100%;
    height: 57px;
    border-radius: 8px;
    border: 1px solid rgba(159, 155, 155, 0.8);
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 400;
    padding-left: 15px;
    background: url(/image/calendar-icon.svg);
    background-repeat: no-repeat;
    background-position: 98.5%;
  }

  .check-box-container .content .date-box::-webkit-calendar-picker-indicator {
    padding-right: 20px;
    opacity: 0;
  }

  .check-box-container .content .check-status {
    font-weight: 400;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    background-color: #F6C03C;
    width: 139px;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin: 5% 0% 0% 76%;
  }
  .check-box-container .content .check-pengumuman {
    font-weight: 400;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    background-color: #F6C03C;
    width: 226px;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin: 5% 0% 0% 62%;
  }

  .banner-kontak-container {
    background: linear-gradient(0deg, rgba(166, 166, 166, 0.745) 100%, #000000 20%), url('/image/banner.jpeg'), #000000 20% / cover no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
  }

  .banner-kontak-container:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(23, 23, 23, 0.5) 100%), url('/image/banner.jpeg'), #000000 20% / cover no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    transition: 500ms;
  }
  
  .banner-kontak-warna h1 {
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  
.kontak2{
  margin-top: 20px;
  margin-bottom: 80px;
  background-color: var(--navbar-color);
}

.contact-page .kontak2 .kontak2-judul{
  margin-bottom: 80px;
}

.kontak2 .colkon2{
  margin-top: 20px;
  margin-left: 30px;
}

.kontak2 .colkon2 .info-kontak1{
  margin-bottom: 50px;
}

.kontak2 .colkon2 .info-kontak1 p,
.kontak2 .colkon2 .info-kontak1 a{
  font-weight: 600px;
  font-size: 20px;
}

.kontak2 .colkon2 .info-kontak2 p,
.kontak2 .colkon2 .info-kontak2 a{
  font-weight: 600px;
  font-size: 20px;
}

.kontak2 .kontak-container {
  margin-top: -20px;
}


.ppdb-page2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 30px;
}

.ppdbpage-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.ppdbpage-main-container .orange-line {
    width: 100%;
    height: 6px;
    background-color: #F6C03C;
    border-radius: 5px;
}

.ppdbpage-main-isi {
  width: 1150px;
  height: 1400px;
  background-color: rgba(232, 232, 232, 0.4300000071525574);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ppdbpage-main-container .text {
  font-size: 32px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 20px 0px 0px 50px;
}

.ppdbpage-main-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px; /* Mengubah properti ini */
  height: 800px;
  margin: 0 auto;
}

/* ----------- */
.ppdbpage-main-container .text {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
}

.ppdbpage-main-container .text .link {
  color: #4BB67C;
  font-weight: 600;
}

.ppdbpage-main-container .button-form {
  width: 400px;
  height: 75px;
  border: none;
  border-radius: 40px;
  color: #FFFBFB;
  background-color: #1A2226;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 70px;
  margin-left: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ppdbpage-main-container .button-form:hover {
   background-color: #575656;
}

.ppdb-main-button-next {
  width: 151px;
  height: 65px;
  background-color: #F6C03C;
  font-size: 33px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 5px;
  margin: 0px 0px 50px 1180px;
}

.ppdb-main-button-next:hover {
  color: #FFF;
}

.banner-ppdb-container {
  background: linear-gradient(0deg, rgba(166, 166, 166, 0.745) 100%, #000000 20%), url('/image/banner.jpeg'), #000000 20% / cover no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  transition: 500ms;
}

.banner-ppdb-container:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(23, 23, 23, 0.5) 100%), url('/image/banner.jpeg'), #000000 20% / cover no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFF;
  transition: 500ms;
}

.banner-ppdb-warna h1 {
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


/* Style Homepage Header */
.header-home-container {
  margin-top: 0px;
  /* background-image: url("/src/assets/img/smpit_taros.jpg"); */
  background-color: #D9D9D9;
  height: 660px;
  flex-shrink: 0;
}

.header-home-container .header-home-isi {
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-home-container .header-home-isi .header-home-box {
  width: 100%;
}

.header-home-container .header-home-isi .header-home-box img {
  width: 100%;
}

/* A. 1. Style Homepage Profil Sekolah */
.homepage .profil{
  background-color: #ffffff; /* --navbar-color: #ffffff; */
  padding-bottom: 100px;
  margin-top: -80px;
}

.homepage .profil .row:nth-child(1){
  padding-top: 80px;
  padding-bottom: 80px;
}

.homepage .profil .row:nth-child(1) h1{
  color: #231942; /* --color-text: #231942; */
}

.homepage .profil .row:nth-child(2) img{
  width: 100%; /* Mengurangi ukuran yayasanImage */
}

.homepage .profil .row:nth-child(2) p{
  font-size: 16px;
  font-weight: 50px;

}


/* A. 2. Awal Style Homepage Berita Terbaru */
.homepage .berita{
  background-color:#ffffff;
  padding-bottom: 100px;
  margin-top: -80px;
}

.homepage .berita .row:nth-child(1){
  padding-top: 80px;
  padding-bottom: 80px;
}

.homepage .berita .row:nth-child(1) p{
  color: #231942;
  font-size: 16px;
  font-weight: 50px;
}

.homepage .berita .row:nth-child(2){
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-left: 80px;
  margin-right: 50px;
}

.homepage .berita .row:nth-child(2) img{
  height: 300px;
  width: 200px;
} 

.homepage .berita .row:nth-child(2) .col{
background-color: #fff;
gap: 15px;
padding-inline: 10px;

}

.homepage .berita .row:nth-child(2) .clock{
color: #000000;
font-weight: 70px;
}

.berita-btn {
display: flex;
justify-content: center;
align-items: center;
}

.berita-bt {
display: flex;
justify-content: center;
align-items: center;
}
/* A. 2. Style Homepage Berita Terbaru */


/* A. 3. Awal Style Homepage - PPDB */
.ppdb-background {
  background-color: #F7DA24;
}

.ppdb-container {
  width: 750px;
  height: 100px;
  flex-shrink: 0;
  margin: 30px; 
  padding: 10px;
}

.ppdb-container p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.ppdb-header {
  font-size: 32px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/* A. 3. Akhir Style Homepage - PPDB */


/* A. 4. Awal Style Homepage - Informasi */
.homepage .informasi{
  background-color:var(--navbar-color);
  padding-bottom: 100px;
}

.homepage .informasi .row:nth-child(1){
  padding-top: 80px;
  padding-bottom: 80px;
}


.homepage .informasi .fasilitas{
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
}


.homepage .informasi .fasilitas-row .col1 .img-wrapper,
.homepage .informasi .fasilitas-row .col2 .img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Untuk memastikan h5 tetap terpusat jika lebih panjang dari gambar */
  position: relative; /* Untuk positioning absolut h5 */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 0;
  margin-left: 140px;
  margin-right: 130px;
  margin-top: 0px;
}

.homepage .informasi .fasilitas-row .col1 .img-wrapper h5,
.homepage .informasi .fasilitas-row .col2 .img-wrapper h5 {
  margin-top: 20px;
  top: 50%;
  left: 50%;
}

.ekskul{
  margin-top: -80px;
}

.ekskul-row {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.eksul-list1 {
  margin-top: 5%;
 
}

.ekskul-list1 li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 0px; /* Adjust space for custom bullet */
}

.eksul-list2 {
  margin-top: 5%;
  list-style: none; /* Removes default list styling */
  padding: 10;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.ekskul-list2 li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 0px; /* Adjust space for custom bullet */
}

.ekskul-row .col3 {
  margin-left: 250px;
  
}

.ekskul-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 50px;
}

.ekskul-bt {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* A. 4. Akhir Style Homepage - Informasi */


/* A. 5. Akhir Style Homepage - PENGUMUMAN */
/* .pengumuman{
  margin-top: -80px;
}

.pengumuman-card{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pengumuman-card .pengumuman-container{
  width: 30%;
  height: 40%;
}

.event2{
  margin-top: 50px;
}

.event3{
  margin-top: 50px;
}

.event-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-bt {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* A. 5. Akhir Style Homepage - PENGUMUMAN */

/* A. 5. Akhir Style Homepage - PENGUMUMAN */
.pengumuman{
  margin-top: 80px;
}

.pengumuman-container {
  margin: auto;
  flex-shrink: 0;
  margin-top: 71px;
}

.pengumuman-container .tengahin {
  display: flex;
  justify-content: center;
}
 
.pengumuman-container .berita-isi {
  margin-left: -2.5%;
  list-style-type: none;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(2, 1fr);
  column-gap: 10%;
  height: 1300px;
  margin-top: 40px;
  width: 79%;
}

.pengumuman-container .berita-list {
  width: 516px;
}

.pengumuman-container .gambar {
  width: 516px;
  height: 356px;
  flex-shrink: 0;
  background-color: #D9D9D9;
  border-radius: 20px;
  margin-top: 30px;
}

.pengumuman-container .date {
  display: flex;
  align-items: center;
}

.pengumuman-container .date-text {
  height: 24px;
  margin-left: 10px;
}

.pengumuman-container .title {
  font-family: "Roboto", sans-serif;
  margin-top: 56px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.pengumuman-container .date {
  font-family: "Poppins", sans-serif;
  margin-top: 25px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pengumuman-container .link {
  color: #4BB67C;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
}

.announ-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.announ-bt {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* A. 5. Akhir Style Homepage - PENGUMUMAN */

.testimoni{
  margin-top: 80px;
  background-color: #ffffff;
}

.homepage .testimoni .testi-judul{
  margin-bottom: 80px;
}


/* C. AWAL STYLE INFORMASI PAGE */
.kurikulum-kompetensi {
  margin-top: 80px;
  margin-bottom: 80px;
}

.kurikulum-kompetensi .kurikulum-kompetensi-container .penjelasan-kompetensi .text{
  font-weight: 520;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 80px;
}


/* ---- Web banner kompetensi ---- */
.kompetensi-container {
  width: 100%;
}

.kompetensi-container .box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 80px;
}

.kompetensi-container .kompetensi1:hover {
  width: 450px;
  transition: 700ms;
}
.kompetensi-container .kompetensi2:hover {
  width: 450px;
  transition: 700ms;
}
.kompetensi-container .kompetensi3:hover {
  width: 450px;
  transition: 700ms;
}

.kompetensi-container .kompetensi1 {
  height: 350px;
  width: 355px;
  background-color: #F7DA24;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 700ms;
}


.kompetensi-container .kompetensi2 {
  height: 350px;
  width: 355px;
  background-color: #4BB67C;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 700ms;
}

.kompetensi-container .kompetensi3 {
  height: 350px;
  width: 355px;
  background-color: #F6C03C;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 700ms;
}

.kompetensi-container .judul{
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  padding-top: 50px;
  color: #1A2226;
  margin-left: 50px;
}

.kompetensi-container .kotak-kecil{
  margin-left: 50px;
}

.kompetensi-container .text{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1A2226;
  margin-top: 10px;
  margin-left:20px;
} 

.kompetensi-container .kompetensi1 .text .list-kompetensi {
  list-style: none; /* Removes default list styling */
}
.kompetensi-container .kompetensi2 .text .list-kompetensi {
  list-style: none; /* Removes default list styling */
}
.kompetensi-container .kompetensi3 .text .list-kompetensi {
  list-style: none; /* Removes default list styling */
}
/* ---- Web banner kompetensi ---- */

/* ---- Web CAROUSEL PRESTASI ---- */
.prestasi-container {
  background-color: #9F9B9B;
  height: 700px;
  flex-shrink: 0;
  margin-bottom: 80px;
  padding-top: 1px;
}

.prestasi-container .judul .text-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-top: 60px;
}

.prestasi-container .judul .text {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  color: #FFF;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 4px;
}

.carousel-prestasi-container .carousel-prestasi-isi {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.carousel-prestasi-container .carousel-prestasi-isi .carousel-prestasi-box {
  width: 70%;
  height: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-prestasi-container .carousel-prestasi-isi .pres1{
  height: 450px;
  width: 450px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-top: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.carousel-prestasi-container .carousel-prestasi-isi .pres1 .text{
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.carousel-prestasi-container .carousel-prestasi-isi .pres1 .img-container {
  width: 405px;
  height: 240px;
  flex-shrink: 0;
  background-color: #D9D9D9;
  margin-top: 20px;
  margin-left: 20px;
}

.carousel-prestasi-container .carousel-prestasi-isi .pres1 .btn{
  margin-top: 20px;
}


/* ---- Web CAROUSEL PRESTASI ---- */

/* ---- Web EKSTRAKULIKULER ---- */

.ekskulz {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ekskul-container {
  /* background-color: #9F9B9B; */
  height: 500px;
  width: 1280px;
  flex-shrink: 0;
  margin-bottom: 50px;
}

.ekskul-container .title {
  text-align: center;
  letter-spacing: 2.8px;
  font-weight: 600;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}

.ekskul-container .box {
  height: 372px;
  width: 100%;
  display: flex;
}

.ekskul-container .box-1 {
  height: 100%;
  width: 33%;
  position: relative;
}

.ekskul-container img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  filter: grayscale(10%) brightness(150%);
}

.ekskul-container .text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: #FFF;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.ekskul-container .text:hover {
  opacity: 1;
}

.ekskul-container .text > *{

  transform:translateY(25px);
  transition: transform 0.6s;
}

.ekskul-container .text:hover > *{
  transform: translateY(0px);
}

.ekskul-container .title-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.ekskul-container .box-2 {
  height: 100%;
  width: 34%;
  
}
.ekskul-container .box-2a {
  width: 100%;
  height: 33%;
  position: relative;
}
.ekskul-container .box-2b {
  width: 100%;
  height: 34%;
  position: relative;
}

.ekskul-container .box-3 {
  height: 100%;
  width: 33%;
}
.ekskul-container .box-3a {
  height: 50%;
  width: 100%;
  position: relative;
}

.ekskul-container .desc {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

/* ---- Web EKSTRAKULIKULER ---- */

/* ---- Web AKREDITASI ---- */
.akreditasi-container{
  margin-top: -140px; 
  background-image: url(./akreditasi.svg);
  width: 100%;
  height: 460px;
}

.akreditasi-container .text{
  margin-top: 15%;
  margin-left: 25%;
  position: absolute;
}

.akreditasi-container .text h2{
  font-weight: 600;
  font-size: 44px;
}

.akreditasi-container .text p{
  font-size: 18px;
  letter-spacing: 1px;
}

.akreditasi-container .btn{
  margin-top: 190px;
  margin-left: 340px;
}
/* ---- Web AKREDITASI ---- */

/* ---- Web SARPRAS ---- */
.sarpras-container {
  /* background-color: #9F9B9B; */
  height: 800px;
  flex-shrink: 0;
  margin-bottom: 80px;
}

.sarpras-container .judul .text-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  margin-top: 60px;
}

.sarpras-container .judul .text {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  color: #000000;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
}

.sarpras-container .text1{
  margin-top: 60px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.sarpras-container .text2{
  margin-top: 30px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.sarpras-container .text2 .list-ruang{
  list-style: none; /* Removes default list styling */
  padding: 0;
}

.sarpras-container .text2 .list-ruang li {
  margin-right: 0px;
  padding: 0px;
}

.sarpras-container .image-container{
  width: 800px;
  height: 500px;
  overflow: hidden;
  position: absolute;
  margin-top: 30px;
  margin-left: -240px;
}

.sarpras-container .image-container img{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
/* ---- Web SARPRAS ---- */

/* C. AKHIR STYLE INFORMASI PAGE */

/* InformasiKaldik */

.kalender-text {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding-top: 3%;
}

.kalender-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.kalender-container .kalender-viewer {
  width: 70%;
}

.kalender-viewer embed {
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 640px) {
  .kalender-text {
    font-size: 20px;
  }

  .kalender-viewer embed {
    height: 250px;
    width: 100%;
  }
}


